ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
button {
    cursor: pointer;
}
address {
font-style: normal;
}
body {
font-family: "Roboto", sans-serif;
background-color: #FFFFFF;
color: #434455;
}
.nav-menu:hover {
color: #404bbf;
}
.nav-menu:focus {
color: #404bbf;
}
.menu-link {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.menu-link:hover {
color: #404bbf
}
.menu-link:focus {
color: #404bbf
}
.nav-menu {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.button-order {
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background: #4d5ae5;
}
.button-order:hover {
background-color:#404BBF;
}
.button-order:focus {
background-color:#404BBF;
}
.page-benefits {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2e2f42;
letter-spacing: 0.02em;
}
.text-page {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.team-box {
background: #f4f4fd;
}
.main-section {
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: #ffffff;
}
.teams {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.page-product {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
.page-portfolio {
font-family: "Roboto", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
/* ==============Footer============== */
.model-box-footer {
background: #2e2f42;
}
.text-footer {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}
.page-webstudio {
color: #f4f4fd;
}
.page-web {
color: #2e2f42;
}
.page-logo:hover {
color: #404bbf
}
.page-logo:focus {
color: #404bbf
}
.page-logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 21px; 
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.page-logotype {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.16667;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
line-height: 1.17;
}
.team-box-one {
background-color: #2e2f42;  
}
.page-team {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.page-proguct {
line-height: 1.5;
letter-spacing: 0.02em;
}
.text-portfolio {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.text-last {
line-height: 1.5;
 letter-spacing: 0.02em;
}
.our-text {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}
.box-model {
background-color: #FFFFFF
}
